<div class="container">
<h1>Goal</h1><br><br>
<p>The goal of the following tutorial is to guide you on how to install Angular on your local machine. This requires both Node.js and NPM to be installed on your machine. If you don't have it or don't know if you have, please check the previous tutorial. If you already have it we can start installing Angular!
</p> <br>
<h1>Angular and Angular CLI</h1> <br><br>
<p>Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations. Teh angular Command Line Interface (CLI) is a tool which helps you to scaffold and build Angular apps using modules. It also handles common tedious tasks for you. We will show it in the example but first - let's install it.
</p><br><br>

<h1>1. Installation</h1><br><br>
<p>Open the terminal and run:</p><br>
<h5>npm install -g @angular/cli</h5><br>

<h1>2. Verify the installation</h1><br><br>
<p>Run the following command in the terminal:</p><br>
<h5>ng -v</h5><br><br>
<h1>3. First Angular app</h1><br><br>
<p>Since everything is ready, we are ready to create our first Angular app. Open the terminal and run the following command:</p><br><br>
<h5>ng new hello-world</h5><br><br>
<p>Now let's navigate to our new project:</p><br><br>
<h5>cd hello-world</h5><br><br>
<p>and run</p><br>
<h5>ng serve -o</h5><br><br>
<p>Our browser should automatically open (cause we added the -o option) new window/card in our default web browser and display the following content. If that didn't happen, then open a browser manually and navigate to</p>
<br><br>
<h5>http://localhost:4200/</h5><br><br>


</div>


