<div class="container">
<h1>What is it?</h1><br><br>
<p>This tutorial is about JavaScript. JavaScript is the programming language that allows you to create websites and applications.</p> <br>
<h1>Who is this tutorial for?</h1> <br><br>
<p>This tutorial is intended for people who want to learn the basics of programming.</p><br><br>

<h1>Is it really free?</h1> <br><br>
<p>Yes, it's completely free.</p><br><br>

<h1>What do I need to know to start learning JavaScript?</h1> <br><br>
<p>You must complete our previous tutorial about HTML and CSS. They are short, simple and also free.</p><br><br>


<h1>JavaScript Can Change HTML Content</h1><br><br>
<p>One of many JavaScript HTML methods is <b>getElementById(). </b>

    This example uses the method to "find" an HTML element (with id="demo") and changes the element content (innerHTML) to "Hello JavaScript":</p><br>
<h5>JavaScript can change HTML content.</h5><br>

<h1>2. Verify the installation</h1><br><br>
<p>Run the following command in the terminal:</p><br>
<h5>ng -v</h5><br><br>
<h1>3. First Angular app</h1><br><br>
<p>Since everything is ready, we are ready to create our first Angular app. Open the terminal and run the following command:</p><br><br>
<h5>ng new hello-world</h5><br><br>
<p>Now let's navigate to our new project:</p><br><br>
<h5>cd hello-world</h5><br><br>
<p>and run</p><br>
<h5>ng serve -o</h5><br><br>
<p>Our browser should automatically open (cause we added the -o option) new window/card in our default web browser and display the following content. If that didn't happen, then open a browser manually and navigate to</p>
<br><br>
<h5>http://localhost:4200/</h5><br><br>
</div>


