<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="col-sm-2" style="float:left">
      <div class="card mb-2">
        <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <h6 class="card-title">Java Part: 01</h6>


        </div>
      </div>
    </div>

    <div class="col-sm-2" style="float:left">
      <div class="card mb-2">
        <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <h6 class="card-title">Java Part: 02</h6>

        </div>
      </div>
    </div>

    <div class="col-sm-2" style="float:left">
      <div class="card mb-2">
        <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <h6 class="card-title">Java Part: 03</h6>

        </div>
      </div>
    </div>

    <div class="col-sm-2" style="float:left">
      <div class="card mb-2">
        <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <h6 class="card-title">Java Part: 04</h6>

        </div>
      </div>
    </div>

    <div class="col-sm-2" style="float:left">
      <div class="card mb-2">
        <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <h6 class="card-title">Java Part: 05</h6>

        </div>
      </div>
    </div>

    <div class="col-sm-2" style="float:left">
      <div class="card mb-2">
        <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <h6 class="card-title">Java Part: 06</h6>

        </div>
      </div>
    </div>

  </div>
  



  

    <!--First slide-->
    <div class="carousel-item active">
  
      <div class="col-sm-2" style="float:left">
        <div class="card mb-2">
          <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h6 class="card-title">Java Part: 01</h6>
  
  
          </div>
        </div>
      </div>
  
      <div class="col-sm-2" style="float:left">
        <div class="card mb-2">
          <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h6 class="card-title">Java Part: 02</h6>
  
          </div>
        </div>
      </div>
  
      <div class="col-sm-2" style="float:left">
        <div class="card mb-2">
          <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h6 class="card-title">Java Part: 03</h6>
  
          </div>
        </div>
      </div>
  
      <div class="col-sm-2" style="float:left">
        <div class="card mb-2">
          <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h6 class="card-title">Java Part: 04</h6>
  
          </div>
        </div>
      </div>
  
      <div class="col-sm-2" style="float:left">
        <div class="card mb-2">
          <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h6 class="card-title">Java Part: 05</h6>
  
          </div>
        </div>
      </div>
  
      <div class="col-sm-2" style="float:left">
        <div class="card mb-2">
          <iframe width="250" height="250" src="https://www.youtube.com/embed/1m-2YzFqTko" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h6 class="card-title">Java Part: 06</h6>
  
          </div>
        </div>
      </div>
  
    </div>  